<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-bean-4.3.xsd">

    <dubbo:application name="journeyApplication" />
    <dubbo:registry address="127.0.0.1:9090" protocol="dubbo"/>
    
    <dubbo:service interface="com.journey.redis.JourneyRedis" cluster="failover" loadbalance="roundrobin"/>


</beans>