<?xml version="1.0" encoding="utf-8" ?>

<configuration scan="true" debug="true">

    <!--<property file="src/main/resources/logback.properties"/>-->
    <property resource="logback.properties"/>
    <!--<insertFromJNDI env-entry-name="java:comp/env" as="appName"/>--><!-- 测试不通过 -->

    <timestamp key="timestamp" datePattern="yyyy-MM-dd HH:mm:ss.SSS"/>

    <contextName>${OUT_ALL_NAME}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%-5level] %logger{36} - %msg%n</pattern>
            <!--<pattern>%-4relative [%thread] %-5level - %msg%n %caller{2, DISP_CALLER_EVAL, OTHER_EVAL_NAME, THIRD_EVAL_NAME}</pattern>-->
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${OUT_ALL_NAME}</file>
        <append>false</append>
        <!--<prudent>true</prudent>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${OUT_ROLL_SIZE_ALL_NAME}.log</file>
        <!--<prudent>false</prudent>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${OUT_ROLL_SIZE_ALL_NAME}.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${OUT_ROLL_DATE_ALL_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${OUT_ROLL_DATE_ALL_NAME}.%d{yyyy-MM-dd_HH-mm}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">-->
        <!--<RemoteHost>${host}</RemoteHost>-->
        <!--<Port>${port}</Port>-->
        <!--<ReconnectDelay>10000</ReconnectDelay>-->
        <!--<IncludeCallerData>${includeCallerData}</IncludeCallerData>&lt;!&ndash; 如果 true，则调用者的数据对远程服务器可用。默认为 false。 &ndash;&gt;-->
    <!--</appender>-->

    <!--<appender name="Topic" class="ch.qos.logback.classic.net.JMSTopicAppender">-->
        <!--<InitialContextFactoryName>org.apache.activemq.jndi.ActiveMQInitialContextFactory</InitialContextFactoryName>-->
        <!--<ProviderURL>tcp://localhost:61616</ProviderURL>-->
        <!--<TopicConnectionFactoryBindingName>ConnectionFactory</TopicConnectionFactoryBindingName>-->
        <!--<TopicBindingName>MyTopic</TopicBindingName>-->
    <!--</appender>-->

    <!--<appender name="Queue" class="ch.qos.logback.classic.net.JMSQueueAppender">-->
        <!--<InitialContextFactoryName>org.apache.activemq.jndi.ActiveMQInitialContextFactory</InitialContextFactoryName>-->
        <!--<ProviderURL>tcp://localhost:61616</ProviderURL>-->
        <!--<QueueConnectionFactoryBindingName>ConnectionFactory</QueueConnectionFactoryBindingName>-->
        <!--<QueueBindingName>MyQueue</QueueBindingName>-->
    <!--</appender>-->

    <appender name="Email" class="com.journey.core.appender.smtp.ErrorSMTPAppender">
        <SMTPHost>smtp.163.com</SMTPHost>
        <SMTPPort>465</SMTPPort>
        <To>lqingw1207@qq.com</To>
        <From>x757578255@163.com</From>
        <Subject>%d{HH:mm:ss.SSS} %logger{36} - %msg</Subject>
        <SSL>true</SSL>
        <Evaluator class="com.journey.core.log.evaluator.CounterBasedEvaluator"/>
        <!--<BufferSize>1</BufferSize>-->
        <Username>x757578255@163.com</Username>
        <Password>lqingw.1207</Password>
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <counter>1</counter>
            <pattern>%d{HH:mm:ss.SSS}%contextName%-5level%logger{36}%msg</pattern>
        </layout>

        <!--<layout>-->
            <!--<Pattern>%d{HH:mm:ss.SSS} %contextName [%-5level] %logger{36} - %msg%n</Pattern>-->
        <!--</layout>-->
    </appender>

    <!--<logger name="com.journey.test.LoggerTest" level="INFO">-->
    <!--</logger>-->

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="Email"/>-->
    </root>

</configuration>