<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.journey.entity.Task" alias="task"/>
    </typeAliases>
    
    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3307/test"/>
                <property name="username" value="root"/>
                <property name="password" value="x757578255"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/journey/dao/TaskMapper.xml"/>
        <!--<package name=""/>-->
    </mappers>
</configuration>